@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<a href="@Url.Action("ManagePies", "Admin")">Manage Pies&Cakes</a> |
<a href="@Url.Action("ManageOrders", "Admin")">Manage Orders</a> |
<a href="@Url.Action("AddPie", "Admin")">AddPies&Cakes</a> |
<a href="@Url.Action("ManageCategories", "Admin")">Category</a> 
