
@model HomeViewModel

<partial name="_Carousel" />

<h3>Pies of the week</h3>
<h4>Our weekly selection - just for you!</h4>

<div class="row">
    @foreach(var pie in Model.PiesOfTheWeek)
    {
         <partial name="_PieCard" model="pie" />
    }

</div>

